@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Onest;
}

.navbar {
    background-color: #9c9976;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.6s;
    padding-top: 20px;
    padding-bottom: 10px;
}

.navbar.sticky {
    background-color: #9c9976;
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #fff;
    max-width: 100%;
}

.navbar.sticky ul li a:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    position: relative;
    margin-right: 60px;
    font-size: 17px;
    letter-spacing: 0.1em;
    color: #fff;
    transition: 0.6s;
    text-shadow: 0px 3px 4px #9c9976;
    transition: 0.5s ease, transform 0.3s ease;
}

.nav-list li .ru {
    border-radius: 35px;
    background-color: black;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nav-list li a:hover {
    border-bottom: 1px solid #9c9976;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.block-line {
    margin-top: -120px;
}

.section-hader {
    padding-top: 100px;
}

.header-nv {
    display: flex;
    justify-content: space-between;
}

.item-nv {
    transition: all 0.3s;
}

.item-nv:hover {
    transform: scale(1.02);
}

.title-imitr-ikra h1 {
    margin-top: 40px;
    font-family: Onest;
    font-size: 85px;
    font-weight: 350;
    transition: all 0.3s;
}

.title-imitr-ikra h1:hover {
    text-shadow: -2px -3px 4px #b4b07f;
}

.title-imitr-ikra .table-one {
    margin-top: -200px;
    font-family: Onest;
    height: 200px;
}

.title-imitr-ikra .table-one td:first-child {
    height: 200px;
    font-size: larger;
}

.title-imitr-ikra .table-one td img {
    position: relative;
    right: 0;
    transition: all 0.3s;
}

.title-imitr-ikra .table-one td img:hover {
    transform: scale(1.02);
}

@media (max-width: 1060px) {
    .title-imitr-ikra .table-one td:first-child {
        height: 500px;
        font-size: larger;
    }

    .title-imitr-ikra .table-one td img {
        display: none;
    }
}

@media (max-width: 768px) {
    .title-imitr-ikra .table-one td:first-child {
        height: 500px;
        font-size: larger;
    }

    .title-imitr-ikra .table-one td img {
        display: none;
    }
}

@media (max-width: 425px) {
    .title-imitr-ikra .table-one td:first-child {
        height: 725px;
        font-size: larger;
    }

    .title-imitr-ikra .table-one td img {
        display: none;
    }
}

.vidy-tary {
    margin-top: 100px;
}

.vidy-tary h2 {
    font-size: 40px;
    font-weight: 400;
}

.vidy-tary ul {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.vidy-tary ul li img {
    transition: all 0.3s;
    padding: 0;
}






.image-container {
    position: relative;
    width: 240px;
    height: 340px;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.8s ease, box-shadow 0.8s ease;
}

.image-container img.second {
    opacity: 0;
}

.image-container:hover img.first {
    opacity: 0;
    box-shadow: -10px -11px 34px #9C9976;
}

.image-container:hover img.second {
    opacity: 1;
    box-shadow: -10px -11px 34px #9C9976;
}

.image-container:hover {
    box-shadow: -2px -6px 24px #9C9976;
}








.vidy-tary ul li img:hover {
    box-shadow: -10px -11px 34px #9C9976;
}

article {
    padding-bottom: 50px;
    background-color: #9c9976;
    color: #fff;
}

article table {
    margin-top: 35px;
}

article table tr td p {
    font-family: Onest;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

article table tr td h3 {
    font-family: Onest;
    font-size: 32px;
    font-weight: 500;
    line-height: 44.8px;
    text-align: left;
}

article table tr td img {
    transition: all 0.3s;
    margin-left: 35px;
}

article table tr td img:hover {
    box-shadow: -5px -11px 34px #c4c3c1;
}

.plus-ikry ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.plus-ikry h3 {
    font-family: Onest;
    font-size: 32px;
    font-weight: 500;
    line-height: 44.8px;
    text-align: left;
    margin-top: 35px;
}

.plus-ikry ul li {
    margin-bottom: 33px;
}

.plus-ikry ul li img {
    width: 60px;
    height: 50px;
    padding: 0;
    margin: 0;
}

.group-plusy {
    display: flex;
    align-items: center;
}

.plus-ikry ul li h4 {
    font-family: Onest;
    font-size: 27px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    margin: 0;
}

.plus-ikry ul li p {
    margin-top: 10px;
    margin-left: 62px;
    font-family: Onest;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: rgb(48, 48, 48);
}

.i {
    color: #9C9976;
}

.footer {
    background-image: url("../img/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding-bottom: 50px;
    box-shadow: 0px -3px 28px #9C9976;
}

.footer .two-list {
    display: flex;
    justify-content: space-between;
}

.footer .two-list ul {
    list-style: none;
    line-height: 30px;
}

.footer .two-list p {
    margin-top: 130px;
}

.footer .two-list ul:last-child {
    list-style: none;
    text-align: end;
}

.footer .two-list ul li h2 {
    font-weight: 500;
    font-size: 25px;
}


.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FAF6F2;
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 0
}

.burger::after {
    bottom: 0
}

.burger.active span {
    transform: scale(0)
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

@keyframes burgerAnimation {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media (max-width: 720px) {

    .burger {
        display: flex;
        width: 35px;
        height: 23px;
        margin-right: 10px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: rgb(255, 255, 255);
        animation: burgerAnimation 0.4s;
    }

    .nav ul {
        flex-direction: column;
        row-gap: 30px;
    }

    .contact-with-us {
        padding: 27px 100px 27px 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .production ul {
        display: block;
        text-align: center;
    }

    .production ul li img {
        width: 365px;
        height: 293px;
        margin-top: 30px;
    }

    .proizvodstvo table tr td img {
        display: none;
    }

    .proizvodstvo table tr td p {
        font-size: 17px;
        padding-bottom: 5px;
    }

    .article-1 {
        font-family: Onest;
        font-size: 5vw;
        font-weight: 250;
        line-height: 33px;
        margin-bottom: 25px;
    }

    #production {
        padding-top: 23px;
    }

    .about article {
        font-size: 20px;
    }

    .title-1 {
        font-size: 13vw;
        font-weight: 500;
    }

    .contact-with-us {
        font-size: 20px;
        line-height: 0;
    }

    .table-two tr {
        display: flex;
        flex-direction: column;
        width: 10vh;
    }

    .table-two tr img {
        width: 88vw;
    }

    .table-two tr td:last-child {
        margin-top: 75px;
    }

    .vidy-tary ul li .image-container {
        display: flex;
        flex-direction: column;
        column-gap: 5%;
    }


    .vidy-tary ul {
        list-style: none;
        display: flex;
        padding-left: 0;
        align-items: stretch;
        align-content: stretch;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .first {
        width: 38vw;
        height: 55vw;
    }

    .second {
        width: 38vw;
        height: 55vw;
    }

    .image-container {
        position: relative;
        width: 38vw;
        height: 55vw;
        overflow: hidden;
    }

    article .container table tr {
        display: flex;
        flex-direction: column;
    }

    .photo-article {
        width: 88vw;
        margin-left: 0;
    }

    .title-imitr-ikra h1 {
        font-size: 10vw;
    }

    .header-nv {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item-nv {
        width: 30vw;
        background-color: #ffffff;
        padding: 10px 10px 10px 10px;
        border-radius: 25px;
        border: 0.5px solid black;
    }

    .title-imitr-ikra .table-one td:first-child {
        height: 38em;
    }

    .footer .two-list {
        display: flex;
        flex-direction: column;
    }

    .footer .two-list ul:last-child {
        text-align: start;
        padding-left: 0;
        margin-top: 6px;
        line-height: 25px;
    }

    .footer .two-list ul {
        padding-left: 0;
        margin-top: 6px;
        line-height: 25px;
    }

    .footer .two-list p {
        margin-top: 41px;
    }

    /*.vidy-tary ul li {
        width: 20vw;
        height: 25vw;
    }*/
}

@media (max-width: 412px) {
    .title-imitr-ikra .table-one td:first-child {
        height: 42em;
    }
}

@media (max-width: 364px) {
    .title-imitr-ikra .table-one td:first-child {
        height: 45em;
    }
}
